/* Style the tab */
body {
    margin: 0;
    background: #21222e;
    padding: 0;
  }
  #wrap {
    width: 80%;
    margin: auto;
    background: #21222e;
    overflow: hidden;
    padding: 15px;
    
  }
.tab {
    overflow: hidden;
    border: 1px solid #323345;
    background-color: #323345;
    color: white;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #5a5e82;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #494c66;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #323345;
    border-top: none;
    color: white;
    text-align:center;
  }

    h1 {
    text-align:center;
    color: white;
    }

    h4{
      margin-bottom: -15px;
    }
    p{
      margin-top: 0px;
    }
